Create Synthetic data for Ratings

In [74]:
# debugging and formatter
from IPython.core.debugger import set_trace

%load_ext nb_black

#importing the necessary libraries
import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
import pickle
import time

%matplotlib inline

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [75]:
#!pipenv install faker

In [76]:
#import faker library to fake the data
from faker import Faker

fake = Faker()

# Creating synthetic

### Timeseries

In [77]:
#a function to create fake review for 3000 products

def faker_timeseries_rows(num=1, seed=None):
    """
    """
    fake.seed_instance(seed)

    time_gen = fake.time_series(start_date=f"-{num}d", end_date="now", precision=3600)

    output = [
        {
            "datetime": next(time_gen),
            "avg_rating": np.random.choice(
                np.arange(0, 6, 1), p=[0.05, 0.05, 0.05, 0.30, 0.5, 0.05]
            ),
        }
        for x in range(num)
    ]
    return output

In [78]:
#Run the function for creating ratings

df = pd.DataFrame(faker_timeseries_rows(3000, seed=0))
df.head(1)

                                   datetime  avg_rating
0  (2013-06-26 17:19:16, 3039.918665490173)           3

### Categorical data

In [79]:
#get the necessary SQL Connection
import ssl
from pymongo import MongoClient
mongo_url = 'mongodb+srv://datasweepers:d4t4sw33p3rs@clustervendors.zfzwq.mongodb.net/Vendors_data_db?retryWrites=true&w=majority'
client = MongoClient(mongo_url, ssl_cert_reqs=ssl.CERT_NONE)
db = client['vendors_data_db']
 
# Three different collections (1. Users 2. Products 3. Bookmarks)
collection_users = db.users_col
collection_product = db.product_col
collection_bookmarks = db.bookmarks_col

In [80]:
#query the first 1000 products 
db.product_col.find().limit(3000)

In [81]:
#examine  the details 
products = pd.DataFrame(db.product_col.find().limit(3000))
products.head(2)

,_id,hash_id,title,vendor,image,brand,content,price_per_unit,current_price,discount,...,properties,ingredients,preparation_inst,hints,manufacturer,nutritional_vals,status,insert_dt,processed_dt,update_dt
0,6132462375e744d165bf232c,240807383748605598,Gemüse und Hühnchen mit Reis 190g,Kaufland,https://media.kaufland.com/images/PPIM/AP_Prod...,BEBIVITA,190g Glas,"100 g = 0,45 €",0.85,0.0,...,Altersempfehlung:nach dem 4. MonatFüllmenge:19...,"Gemüse 52% (Karotten, Tomaten, Erbsen), Reis g...",Geöffnetes Glas oder benötigte Teilmenge im Wa...,Nicht erwärmten Rest verschlossen im Kühlschra...,Bebivita GmbH,None,True,1630594239201,2021-09-03 17:58:27.017,2021-09-03 18:00:51.834
1,6132462375e744d165bf2370,472604406208233330,Guten Morgen Erdbeere in Apfel-Joghurt-Müesli ...,Kaufland,https://media.kaufland.com/images/PPIM/AP_Prod...,HIPP,160g Glas,"100 g = 0,66 €",1.05,0.0,...,Bio-Kontrollstelle:DE-ÖKO-001 / HU-ÖKO-01Alter...,Früchte* 55% (säurearmer Apfelsaft* aus Apfels...,,Bei Flüssigkeitsabsatz bitte umrühren.\nGewüns...,HiPP GmbH & Co. Vertrieb KG,None,True,1630594245775,2021-09-03 17:58:27.970,2021-09-03 18:00:51.835

In [82]:
#check the length of the dataframe
index=data.index
nr=len(index)
print(nr)

1000

In [83]:
#drop all the unnecessary rows
products= products['_id']

In [84]:
products.head()

0    6132462375e744d165bf232c
1    6132462375e744d165bf2370
2    6132462475e744d165bf2383
3    6132462475e744d165bf238a
4    6132462575e744d165bf23a2
Name: _id, dtype: object

In [85]:
#merge products and review dataframe
frames=[products, df]
result=pd.concat(frames,axis=1)
result.head(100)

,_id,datetime,avg_rating
0,6132462375e744d165bf232c,"(2013-06-26 17:19:16, 3039.918665490173)",3
1,6132462375e744d165bf2370,"(2013-06-26 18:19:16, 2728.635850585089)",2
2,6132462475e744d165bf2383,"(2013-06-26 19:19:16, 1514.057690991042)",3
3,6132462475e744d165bf238a,"(2013-06-26 20:19:16, 932.1003010546681)",3
4,6132462575e744d165bf23a2,"(2013-06-26 21:19:16, 1840.5889969269906)",4
...,...,...,...
95,6132462375e744d165bf2363,"(2013-06-30 16:19:16, 3300.988384610842)",3
96,6132462375e744d165bf236b,"(2013-06-30 17:19:16, 2855.9703028688073)",4
97,6132462375e744d165bf236d,"(2013-06-30 18:19:16, 296.5427575079306)",4
98,6132462575e744d165bf23a8,"(2013-06-30 19:19:16, 2206.0191781465637)",3
99,6132462375e744d165bf2335,"(2013-06-30 20:19:16, 1751.1991270890005)",2

In [86]:
#change _id to product id so that join could be possibly generated
result.rename(columns={'_id': 'productid'}, inplace =True)

In [87]:
#for altering the column date time
result['datetime'] = [x[:-1] for x in df['datetime']]

#result['datetime']= result['datetime'].str.replace(',', ' ')
#result['datetime']= result['datetime'].str.split(',')

result



#result.datetime.str.split(',')
#result

                     productid                datetime  avg_rating
0     6132462375e744d165bf232c  (2013-06-26 17:19:16,)           3
1     6132462375e744d165bf2370  (2013-06-26 18:19:16,)           2
2     6132462475e744d165bf2383  (2013-06-26 19:19:16,)           3
3     6132462475e744d165bf238a  (2013-06-26 20:19:16,)           3
4     6132462575e744d165bf23a2  (2013-06-26 21:19:16,)           4
...                        ...                     ...         ...
2995  6132466975e744d165bf30fe  (2013-10-29 12:19:16,)           3
2996  6132466975e744d165bf3113  (2013-10-29 13:19:16,)           3
2997  6132466a75e744d165bf3149  (2013-10-29 14:19:16,)           3
2998  6132466a75e744d165bf3164  (2013-10-29 15:19:16,)           4
2999  6132466b75e744d165bf3179  (2013-10-29 16:19:16,)           4

[3000 rows x 3 columns]

In [88]:
result.head

<bound method NDFrame.head of                      productid                datetime  avg_rating
0     6132462375e744d165bf232c  (2013-06-26 17:19:16,)           3
1     6132462375e744d165bf2370  (2013-06-26 18:19:16,)           2
2     6132462475e744d165bf2383  (2013-06-26 19:19:16,)           3
3     6132462475e744d165bf238a  (2013-06-26 20:19:16,)           3
4     6132462575e744d165bf23a2  (2013-06-26 21:19:16,)           4
...                        ...                     ...         ...
2995  6132466975e744d165bf30fe  (2013-10-29 12:19:16,)           3
2996  6132466975e744d165bf3113  (2013-10-29 13:19:16,)           3
2997  6132466a75e744d165bf3149  (2013-10-29 14:19:16,)           3
2998  6132466a75e744d165bf3164  (2013-10-29 15:19:16,)           4
2999  6132466b75e744d165bf3179  (2013-10-29 16:19:16,)           4

[3000 rows x 3 columns]>

In [89]:
collection_reviews = db.reviews

#Loading the data as dataframe to mongodb

In [90]:
#collection_reviews.insert_many(result.to_dict('records'))


#result.reset_index(inplace=True)
#data_dict = result.to_dict("records")

# Insert collection
#collection_reviews.insert_many(data_dict)

#collection_reviews.insert(result.to_dict())
for index, row in result.iterrows():

    mydict = {'productId':row['productid'] ,'datetime':row['datetime'][0], 'avg_rating':row['avg_rating']}
    collection_reviews.insert_one(mydict)

#collection_reviews.insert_many(result.apply(lambda x: x.to_dict(), axis=1).to_list())

In [91]:
#view the results in mongodb
result1= pd.DataFrame(list(collection_reviews.find()))
result1.head

<bound method NDFrame.head of                            _id                 productId            datetime  \
0     613e1a80f3086fd4a154977a  6132462375e744d165bf232c 2013-06-26 17:19:16
1     613e1a80f3086fd4a154977b  6132462375e744d165bf2370 2013-06-26 18:19:16
2     613e1a80f3086fd4a154977c  6132462475e744d165bf2383 2013-06-26 19:19:16
3     613e1a80f3086fd4a154977d  6132462475e744d165bf238a 2013-06-26 20:19:16
4     613e1a80f3086fd4a154977e  6132462575e744d165bf23a2 2013-06-26 21:19:16
...                        ...                       ...                 ...
2995  613e1ae0f3086fd4a154a32d  6132466975e744d165bf30fe 2013-10-29 12:19:16
2996  613e1ae0f3086fd4a154a32e  6132466975e744d165bf3113 2013-10-29 13:19:16
2997  613e1ae0f3086fd4a154a32f  6132466a75e744d165bf3149 2013-10-29 14:19:16
2998  613e1ae1f3086fd4a154a330  6132466a75e744d165bf3164 2013-10-29 15:19:16
2999  613e1ae1f3086fd4a154a331  6132466b75e744d165bf3179 2013-10-29 16:19:16

      avg_rating
0              3
1              2
2              3
3              3
4              4
...          ...
2995           3
2996           3
2997           3
2998           4
2999           4

[3000 rows x 4 columns]>