In [1]:
import config
import ssl
from pymongo import MongoClient
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.4) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:

mongo_url = config.MONGO_URL
client = MongoClient(mongo_url, ssl_cert_reqs=ssl.CERT_NONE)
db = client['vendors_data_db']
collection = db.users_lables

In [3]:
db.list_collection_names()

['aldi_data_col_2',
 'netto_data_col_2',
 'kaufland_data_col_2',
 'kaufland_data_col',
 'users_lables',
 'product_col',
 'users_col',
 'carts_col_test',
 'stg_product_col',
 'product_hist_col',
 'product',
 'data_ext_logs_col',
 'bookmarks_col',
 'carts_col',
 'netto_data_col',
 'aldi_data_col']

In [4]:
cursor = db.users_lables.find({})
for doc in cursor:
    print(doc)

{'_id': ObjectId('6112933905bdc535534122fb'), 'firstName': 'Anna', 'lastName': 'Smith', 'age': 34, 'gender': 0, 'nationality': 'USA', 'Interested': 'Cheese'}
{'_id': ObjectId('6112991805bdc53553412307'), 'firstName': 'Sara', 'lastName': 'Aghaei', 'age': 23, 'gender': 0, 'nationality': 'Iranian', 'Interested': 'Meet'}
{'_id': ObjectId('6112995405bdc53553412308'), 'firstName': 'Mohammad', 'lastName': 'Mostafaei', 'age': 54, 'gender': 1, 'nationality': 'India', 'Interested': 'Cheese'}
{'_id': ObjectId('6112999305bdc53553412309'), 'firstName': 'Simin', 'lastName': 'Kashani', 'age': 33, 'gender': 0, 'nationality': 'India', 'Interested': 'Cheese'}

In [5]:
df = pd.DataFrame(list(collection.find()))

In [6]:
df

,_id,firstName,lastName,age,gender,nationality,Interested
0,6112933905bdc535534122fb,Anna,Smith,34,0,USA,Cheese
1,6112991805bdc53553412307,Sara,Aghaei,23,0,Iranian,Meet
2,6112995405bdc53553412308,Mohammad,Mostafaei,54,1,India,Cheese
3,6112999305bdc53553412309,Simin,Kashani,33,0,India,Cheese

In [7]:
X = df.drop(columns=['Interested', '_id', 'firstName', 'lastName', 'nationality'])
y = df['Interested']
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)
model = DecisionTreeClassifier()
#model.fit(X_train, y_train)
model.fit(X,y)
#predictions = model.predict(X_test)
predictions = model.predict([[23, 1], [54,1], [23,0], [34, 0]])

predictions

array(['Meet', 'Cheese', 'Meet', 'Cheese'], dtype=object)

In [8]:
score = accuracy_score(y, predictions)
#score = accuracy_score(y_test, predictions)

score

0.25